.forth-block {
    background-color: $secondColor;
}
.forth-block-container {
    display: flex;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.forth-content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    align-content: space-between;
    color: white;
    & h2 {
        color: white;
    }
    & p {
        color: white;
        padding: 20px 0;
    }
}