.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    & .logo {
        font-size: 40px;
        font-weight: 500;
    }
}
.header-nav {
    width: 638px;
    & ul {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: 400;
        & a {
            color: $fontColor;
        }
        & a:hover, a:active {
            border-bottom: 3px solid $fontColor;
            color: lighten($color: $fontColor, $amount: 30%);
        }
    }
}