.second-block {
    background-color: $secondColor;
}

.second-block-container {
    display: flex;
    padding: 50px;
    img {
        margin-right: 30px;
    }
}
.second-text {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-content: space-between;
    h2, p {
        color: white;
    }
}